/* global things*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --back-colorbright: #f7f7f7;
  --back-colordark: #242424;
  --main-color: #6c63ff;
  --font-colorPara: rgb(141, 141, 141);
  --font-color: rgb(39, 39, 39);
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*for js things*/
.dark {
  display: none;
  visibility: hidden;
}

/*styling app*/

.container {
  flex-direction: column;
  width: 600px;
  min-height: 500px;
  margin: auto;
  display: flex;
  padding: 20px;
  background-color: var(--back-colorbright);
  box-shadow: 0px 0px 20px var(--main-color);
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: transparent;
}

button#BrightDark,
button#DarkBright {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.432);
  transition: all 0.4s ease;
}

button#DarkBright:hover,
button#BrightDark:hover {
  transform: scale(1.1);
}

button img {
  width: 20px;
}

button i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 5px;
  color: white;
}

.topContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

div input {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  width: calc(100% - 150px);
  border: 1px solid var(--main-color);
  background-color: transparent;
  border-radius: 2px;
  outline: none;
  color: rgb(92, 92, 92);
  font-weight: 600;
}

button.taskBtn {
  font-family: "Quicksand", sans-serif;
  background-color: var(--main-color);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s ease;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.301);
}

button.taskBtn:hover {
  transform: scale(1.1);
}

/*bottomSection*/

.bottom-section {
  margin-top: 20px;
}
.task {
  border-bottom: 1px solid var(--main-color);
  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  position: relative;
}

.task.done {
  text-decoration: line-through;
  position: relative;
}

.task.done::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6b63ff60;
  position: absolute;
  height: 100%;
  filter: blur(10px);
}

.task:hover {
  background-color: rgba(223, 223, 223, 0.212);
}

.task img {
  width: 25px;
  margin-right: 20px;
}

.task p {
  color: var(--font-colorPara);
  width: 300px;
  overflow-wrap: break-word;
}

.task .month-year {
  color: #6c63ff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

/*delete Btn*/

img.deleteBtn {
  position: absolute;
  right: 0;
  width: 20px;
  display: none;
  z-index: 1;
  transition: all 0.4s ease;
}

.task:hover .deleteBtn {
  display: inline;
}

img.deleteBtn:hover {
  transform: scale(1.5);
}

/*style section clock in the top*/

section.clock {
  width: 600px;
  margin: auto;
  box-shadow: 0px 0px 20px var(--main-color);
  min-height: 200px;
  margin-top: 30px;
}

.clockDark {
  background-color: var(--back-colordark);
}

.topClock {
  height: fit-content;
  text-align: center;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

div.hours {
  width: 80px;
  background-color: #6b63ff;
  box-shadow: 0 0 10px var(--main-color);
}

div.hours p {
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 7px;
}

div.minutes {
  width: 80px;
  background-color: #6b63ff;
  box-shadow: 0 0 10px var(--main-color);
}

div.minutes p {
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 7px;
}

div.seconds {
  width: 80px;
  background-color: #ff7b7b;
  box-shadow: 0 0 10px #ff7b7b;
}

div.seconds p {
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 7px;
}
.topClock span {
  color: white;
  font-size: 50px;
}

.bottomClock {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomClock p {
  padding: 10px;
  font-size: 19px;
  color: var(--font-colorPara);
  letter-spacing: 2px;
}

.reset {
  bottom: 15px;
  right: 20px;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50px;
}

.reset i {
  font-size: 25px;
  cursor: pointer;
  color: var(--main-color);
  animation: rotation 1s ease infinite alternate;
  transition: 0.4s ease;
}

.reset:hover i {
  color: red;
}

@keyframes rotation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
